/* ICONOS MENU */

#facturas {
    color: yellow;
}

#reporte {
    color: limegreen;
}

#datos {
    color: #2228EA;
}

#cerrar {
    color: #F92B3A;
}


/* ------- */

#tit_misFacturas {
    text-align: center;
    color: #2228EA;
}

#espaciadoicon {
    margin-right: 15px;
}

#icon_visualizar {
    color: #F92B3A;
    margin-right: 15px;
}

#icon_facturar {
    color: limegreen;
}

#bienvenido {
    color: #2A9E17;
}

#encabezado_tabla {
    color: white;
}

#centrar {
    text-align: center;
}


/* --- ESTADOS PEDIDOS --- */

#estado_completo {
    color: #2A9E17;
}

#estado_espera {
    color: slategrey;
}

#estado_cancelado {
    color: red;
}

#estado_pendiente {
    color: yellow;
}

#estado_procesando {
    color: #F47B03;
}

#estado_refunded {
    color: #319791;
}

#estado_failed {
    color: #A56D62;
}

#estado_trash {
    color: #DC1797;
}


/* --------------- */

#card_clientes {
    background-color: #6AA6D5;
    color: white;
}

#card_consumo_promedio {
    background-color: #F7EA82;
    color: #D9953F;
}

#titulo_cons_promedio {
    color: #D9953F;
}

#card_promedio_compras {
    background-color: #343E5D;
    color: white;
}

#titulo_prom_compras {
    color: #343E5D;
}

#card_ventas {
    background-color: #2FB650;
    color: white;
}

#tit_card_prod {
    color: #A93032;
}

#borde_c {
    background-color: #E5E3DC;
    padding: 20px;
}

#icon_ruc {
    color: #2A9E17;
    margin-right: 20px;
}

#icon_razon {
    color: #ED6C0D;
    margin-right: 20px;
}

#icon_tienda {
    color: #C820B8;
    margin-right: 20px;
}

#icon_email {
    color: #44558F;
    margin-right: 20px;
}

#icon_direccion {
    color: yellow;
    margin-right: 20px;
}

#icon_telefono {
    color: #3AB5D1;
    margin-right: 20px;
}

#icon_fechalimit {
    color: #4F6066;
    margin-right: 20px;
}

#borde_div {
    padding: 5px;
    border: black 1px solid;
}

#borde_div1 {
    margin-left: -12px;
    padding: 5px;
    border: black 1px solid;
}

#borde_form {
    padding: 30px;
    border: greenyellow 2px solid;
}