{% extends "Facturacion/base.html" %} {% load static %} {% block content %}
<br>
<h2 id="tit_misFacturas">
    <i class="fas fa-id-badge" id="datos"></i> Mis datos
</h2>
<br>

<img class="mx-auto d-block" src="{% static 'images/usuario.png' %}" width="140" height="120">
<center>
    <b>{{ user.username }}</b>
</center>
<br>
<div class="container">
    <div class="row" id="borde_c">
        <div class="col-xl-2"></div>
        <div class="col-xl-5">
            <b> <i class="fas fa-address-card" id= "icon_ruc"></i>RUC: </b><br><br><br>
            <b> <i class="fas fa-universal-access" id= "icon_razon"></i>Razón Social: </b><br><br><br>
            <b> <i class="fas fa-store-alt" id= "icon_tienda"></i> URL Tienda: </b><br><br><br>
            <b> <i class="fas fa-envelope-open-text" id="icon_email"></i> Correo electrónico </b><br><br><br>
            <b> <i class="fas fa-map-marker-alt" id= "icon_direccion"></i>Dirección: </b><br><br><br>
            <b> <i class="fas fa-phone-square-alt" id="icon_telefono"></i>Teléfono: </b><br><br><br>
            <b> <i class="fas fa-calendar-day" id= "icon_fechalimit"></i>Fecha vencimiento firma: </b><br><br><br>
        </div>
        <div class="col-xl-4">
            <br><label> {{ datos.RUC }} </label><br><br>
            <br><label> {{ datos.razon_social }} </label><br><br>
            <br><label> {{ datos.url_tienda }} </label><br><br>
            <br><label> {{ datos2.email }} </label><br><br>
            <br><label> {{ datos.direccion }} </label><br><br>
            <br><label> {{ datos.telefono }} </label><br><br>
            <br><label> {{ datos.fecha_caducidad }} </label>
        </div>
    </div>
</div>
<br>
<br/> {% endblock %}