{% extends "Facturacion/base.html" %} {% load static %} {% block content %}
<div class="container-fluid px-4">
    <h3 class="mt-4"> <img src="{% static 'images/usuario.png' %}" width="70" height="50"> Bienvenid@ {{ user.username }}
    </h3>
    <hr>
    <h2 id="tit_misFacturas">
        <i class="fab fa-elementor" id="espaciadoicon" style="color: cornflowerblue;"></i> Mis Facturas
    </h2>
    <!-- MESSAGES   -->
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        <a href="{%url 'MisFacturas' %}" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{ message }}
    </div>
    {% endfor %} {% endif %}
    <!--- ---------- -->
    <form action="" method="POST">
        {% csrf_token %}
        <br>
        <div class="row">
            <div class="col-xl-10">
                <b>Fecha de actualización:</b> {{ act}} <br>
            </div>
            <div class="col d-flex">
                <button class="btn btn-warning ml-auto" type="submit" style="text-align: right;"><i class="fas fa-sync" id="espaciadoicon"></i> Actualizar</buttton>
            </div>
            
        </div>
            <br>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i> <b>PEDIDOS: </b>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr class="bg-primary" id="encabezado_tabla">
                            <th id="centrar">Fecha</th>
                            <th id="centrar">Cliente</th>
                            <th id="centrar"># Pedido</th>
                            <th id="centrar">Valor Total</th>
                            <th id="centrar">Estado Compra</th>
                            <th id="centrar">Estado Factura</th>
                            <th id="centrar">Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th># Pedido</th>
                            <th>Valor Total</th>
                            <th>Estado Compra</th>
                            <th>Estado Factura</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for pedido in pedidos %}
                        <tr>
                            <td> {{ pedido.fecha_pedido }} </td>
                            <td> {{ pedido.id_consumidor }} </td>
                            <td id="centrar"> {{ pedido.num_pedido }}</td>
                            <td> $ {{ pedido.total_compra }} </td>
                            {% if pedido.estado_pedido == 'completed'%}
                            <td id="estado_completo"> Completado</td>
                            {% elif pedido.estado_pedido == 'on-hold' %}
                            <td id="estado_espera"> En espera </td>
                            {% elif pedido.estado_pedido == 'cancelled' %}
                            <td id="estado_cancelado"> Cancelado </td>
                            {% elif pedido.estado_pedido == 'pending' %}
                            <td id="estado_pendiente"> Pendiente </td>
                            {% elif pedido.estado_pedido == 'processing' %}
                            <td id="estado_procesando"> En proceso </td>
                            {% elif pedido.estado_pedido == 'refunded' %}
                            <td id="estado_refunded"> Reintegrado </td>
                            {% elif pedido.estado_pedido == 'failed' %}
                            <td id="estado_failed"> Fallido </td>
                            {% elif pedido.estado_pedido == 'trash' %}
                            <td id="estado_trash"> Basura </td>
                            {% endif %}
                            <td> </td>
                            <td class="text-center">
                                <a href="{%url 'VistaPrevia' pedido.num_pedido %}"><i class="far fa-eye" id="icon_visualizar"></i>Ver</a>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </form>
</div>
{% endblock %}