{% extends "Facturacion/base.html" %} {% load static %} {% block content %}
<div class="container-fluid px-4 mt-3">

    <h2 id="tit_misFacturas">
        <i class="fab fa-elementor" id="espaciadoicon" style="color: limegreen;"></i> Reporte General
    </h2>
    <br>
    <div class="row">
        <!-- TOTAL EN VENTAS -->
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-header">
                    <h5 id="reporte"><i class="fas fa-cash-register" id="espaciadoicon"></i>Total en ventas </h5>
                </div>
                <div class="card-body">
                    <div class="row no-gutters justify-content-center" id="card_ventas">
                        <br><br>
                        <div class="col mr-2 text-center">
                            <br><br>
                            <div class="h1 mb-0 font-weight-bold">
                                ${{total_ventas}}
                            </div>
                            <br><br>

                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted" id="centrar">
                    Transacciones: {{transacciones}}
                </div>
            </div>
        </div>
        <!-- PRODUCTOS MAS VENDIDOS -->
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-header">
                    <h5 id="tit_card_prod"><i class="fas fa-cash-register" id="espaciadoicon"></i>Productos más vendidos</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr class="table-warning">

                                <th scope="col">Producto</th>
                                <th scope="col">Valor </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for top in top_pedidos %}
                            <tr>

                                <td>{{top.nombre_prod}}</td>
                                <td> $ {{top.valor_unitario}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    Considerar que el valor del producto tiene 4 decimales

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <!-- TOTAL DE CLIENTES -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-header">
                    <h5 id="datos"><i class="fas fa-users" id="espaciadoicon"></i>Total de clientes </h5>
                </div>
                <div class="card-body">
                    <div class="row no-gutters align-items-center" id="card_clientes">
                        <div class="col mr-2 text-center">
                            <div class="h3 mb-0 font-weight-bold">{{num_clientes}}</div>
                            <div class="text-xs font-weight-bold mb-1">
                                Clientes</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted" id="centrar">
                    últimos 30 días
                </div>
            </div>
        </div>

        <!-- Consumo de promedio Card Example -->

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-header">
                    <h5 id="titulo_cons_promedio"><i class="fas fa-hand-holding-usd" id="espaciadoicon"></i>Consumo promedio</h5>
                </div>
                <div class="card-body">
                    <div class="row no-gutters align-items-center" id="card_consumo_promedio">
                        <div class="col mr-2 text-center">
                            <div class="h3 mb-0 font-weight-bold"> $ {{consumo_promedio}}</div>
                            <div class="text-xs font-weight-bold mb-1">
                                Promedio de consumo por compra</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted" id="centrar">
                    últimos 30 días
                </div>
            </div>
        </div>
        <!-- Total de impuestos-->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-header">
                    <h5 id="titulo_prom_compras"><i class="fas fa-shopping-cart" id="espaciadoicon"></i>Total IVA ventas</h5>
                </div>
                <div class="card-body">
                    <div class="row no-gutters align-items-center" id="card_promedio_compras">
                        <div class="col mr-2 text-center">
                            <div class="h3 mb-0 font-weight-bold">$ {{total_impuestos}}</div>
                            <div class="text-xs font-weight-bold mb-1">
                                Valor IVA</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted" id="centrar">
                    últimos 30 días
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Core plugin JavaScript-->
<script src="{% static 'Facturacion/js/jquery.easing.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'Facturacion/js/sb-admin-2.min.js' %}"></script>
{% endblock %}